.history-search-block {
  padding: 0px 10px 0px 10px;
  overflow: auto;
}
 
@media only screen and (max-width: 715px) {
  .history-search-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12vh;
    overflow: auto;
    width: 100%;
  }


 

}